{% extends 'main/base.html' %}
{% load static %}
{% block tile %}Home- index{% endblock %}
{% block content %}

<!-- About Us Section -->
    <section class="about_us" id="about">
      <div class="section_container">
        <div class="about_container">
          <div class="text_section">
            <h2 class="section_title">About Us</h2>
            <p>
	    This is for my people
	    </div>

          <div class="image_section">
            <img src="images/about_coffee.png" alt="coffee" />
          </div>
        </div>
      </div>
    </section>

{% endblock %}
